Single object top-level rule: still needed?

Original [DAG-CBOR spec](https://ipld.io/specs/codecs/dag-cbor/spec/): 

> Encode and decode must operate on a single top-level CBOR object. Back-to-back concatenated objects are not allowed or supported, as suggested by [section 5.1 of RFC 8949](https://tools.ietf.org/html/rfc8949#section-5.1) for streaming applications. All bytes of an encoded DAG-CBOR object must decode to a single object. Extraneous bytes included in an IPLD block, whether valid or invalid CBOR, must not be accepted as valid DAG-CBOR.

I remember seeing an issue about ATProto's usage of DAG-CBOR breaking this rule, and am wondering if there is some "decode-only" style tolerance that could happen here, or if this is an issue i've misunderstood from the jump.

Also note: copying [this section](https://www.ietf.org/archive/id/draft-rundgren-cbor-core-04.html#section-2.3.4) over from Rundgren's CBOR/c draft might simplify or complicate this issue; however this "single object only" rule is decided, we should remember to update this section accordingly.